<div class="row">
	<div class="col-md-12" data-ng-show="contatos.length > 0">

	<nav class= "navbar navbar-default" role= "navigation" >
		<div class= "navbar-header" >
			<a class="btn btn-lg btn-success" href="#/edit-contato/0"><i class="glyphicon glyphicon-plus"></i>&nbsp;Novo Contato</a>
		</div>
	</nav>
	<table class="table table-striped table-bordered">
		<thead>
			<th>Nome&nbsp;</th>
			<th>Endereço&nbsp;</th>
			<th>Telefone&nbsp;</th>
			<th>Email&nbsp;</th>
			<th>Twitter&nbsp;</th>
			<th>Facebook&nbsp;</th>
			<th>LinkedIn&nbsp;</th>
			<th>Google Plus&nbsp;</th>
			<th>Ação&nbsp;</th>
		</thead>
		<tbody>
			<tr ng-repeat="data in contatos">
				<td>{{data.nome}}</td>
				<td>{{data.endereco}}</td>
				<td>{{data.telefone}}</td>
				<td>{{data.email}}</td>
				<td>{{data.twitterHandle}}</td>
				<td>{{data.facebookProfile}}</td>
				<td>{{data.linkedInProfile}}</td>
				<td>{{data.googlePlusProfile}}</td>
				<td><a href="#/edit-contato/{{data.id}}" class="btn">&nbsp;<i class="glyphicon glyphicon-edit"></i>&nbsp; Editar Contato</a></td>
			</tr>
		</tbody>
	</table>
	</div>
	<div class="col-md-12" data-ng-show="contatos.length == 0">
		<div class="col-md-12">
		<h4>Nenhum contato encontrado</h4>
		</div>
	</div>
</div>